.logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
    margin-top: 8px;
}

#title {
    float: right;
}

.colorCodes > li > img {
    margin-top: 3px;
    margin-right: 14px;
    height: 16.5px;
    width: auto;
}

#map {
    height: 1200px;
    width: 100%;
}


